{% comment %}
Affirm Promotional Messaging Snippet
Usage: {% render 'affirm-messaging' %}
{% endcomment %}

<style>
  .custom-affirm{
    text-align: center;
  }
  .custom-affirm a {
    color: #0000ee !important;
    text-decoration: underline !important;
  }
  .product-price+.product-info__pay .custom-affirm{
    text-align: left;
  }
</style>

<p class="affirm-as-low-as custom-affirm"
   data-amount="{{ product.selected_or_first_available_variant.price }}"
   data-page-type="product"
   data-learnmore-show="true">
</p>

<script>
  document.addEventListener("DOMContentLoaded", function() {
  const target = document.body; // or a more specific container if you know where Affirm inserts
  const observer = new MutationObserver(function(mutations, obs) {
      const affirmTriggers = document.querySelectorAll(".affirm-modal-trigger");
      if (affirmTriggers.length > 0) {
        affirmTriggers.forEach(function(el) {
          el.textContent = "See if you qualify";
        });
        obs.disconnect(); // Stop observing once we've done our thing
      }
    });

    observer.observe(target, {
      childList: true,
      subtree: true
    });
  });
</script>