.cc-announcement {
  display: none !important;
}

#product-media .media-ctrl__btn {
  background-color: #535353;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

.media-gallery__viewer .tag-container {
  position: absolute;
  top: 45px;
  left: 45px;
  z-index: 1;
}

.media-gallery__viewer .pdp-tag {
  background: #43403e;
  color: #fff;
  padding: 5px 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 36px;
  border-radius: 5px;
}

#product-media .media-ctrl__btn .icon {
  width: 13px;
  height: 20px;
}

.product-main .product-info::before,
.product-main .product-info::after {
  display: none;
}

.product-main .product-media,
.product-main+.product-details>.container {
  border: none !important;
}

.product-info .product-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 0;
}

.product-info.product-info__block--sm {
  margin-top: 0px;
  margin-bottom: 30px;
}

.product-info__block.product-details__block.product-details__text.rte .product-detail-cntnt p{
  margin-bottom: 0px;
}

.product-info__tags ul {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.product-info__tags ul li {
  background: #f5f5f5;
  padding: 5px 10px;
  border-radius: 5px;
  color: #595959;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
}

.product-info__block--sm.product-info__delivery {
  align-items: center;
  margin-bottom: 30px;
  gap: 10px;
}

.product-info__delivery p {
  width: max-content;
  background: #1b413e;
  color: #fff;
  padding: 4px 20px;
  border-radius: 550px;
  font-size: 16px;
  font-weight: 600;
  line-height: 31.5px;
  margin-bottom: 0;
}

.product-info__block--sm.product-info__stock-warning {
  display: flex;
  align-items: center;
  gap: 5px;
  width: max-content;
  background: #F03636;
  color: #fff;
  padding: 2px 10px;
  border-radius: 550px;
  font-size: 16px;
  font-weight: 500;
  line-height: 31.5px;
  margin-bottom: 0;
}

/* .product-info__block--sm.product-info__stock-warning:not(:has(+ .product-details__text)) {
  margin-bottom: 0px;
} */

.product-info__stock-warning span {
  text-transform: uppercase;
}

.product-detail-link a {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  color: #13736c;
  text-decoration: none;
}

.product-detail-link a img {
  display: block;
  width: 27px;
}

.price__default .price__current {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.product-info .disclosure>summary {
  padding: 25px 0px;
}

.product-info .disclosure .disclosure__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 31.5px;
}

.product-info .disclosure--row {
  border: none;
  border-bottom: 0.5px solid #d8d8d8;
}

.feature__row {
  border: 1px solid #dbdbdb;
  padding: 0px 30px;
  border-radius: 15px;
}

.feature__row .feature__box:not(:last-child) {
  border-bottom: 1px solid #dbdbd8;
}

.feature__row .feature__box {
  padding: 30px 0px;
}

.feat__box-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.feat__box-title h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  margin: 0 !important;
}

.feat__box-title img {
  display: inline-block;
  width: 25px;
}

.feat__box-content :is(p, li, a, span),
.product-info .isclosure__content :is(p, a, li, span) {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  margin: 0 !important;
}

.disclosure disclosure--row[open] .icon-plus {
  display: none;
}

.product-info .jdgm-carousel-item,
.product-media-info .jdgm-carousel-item {
  /* width: 100%; */
  padding: 25px 27px 20px !important;
  background: #f4f4f4;
  border-radius: 10px;
  display: inline-flex !important;
  flex-direction: column !important;
  position: relative;
}

.product-info .jdgm-carousel-title-and-link,
.product-media-info .product-info .jdgm-carousel-title-and-link {
  display: none;
}

.product-info .jdgm-carousel-wrapper {
  width: 100% !important;
  padding: 40px 0px 30px !important;
  position: relative;
}

.product-media-info .jdgm-carousel-wrapper {
  width: 100% !important;
  padding: 0 !important;
  position: relative;
}

.product-info .jdgm-carousel--focused-theme .jdgm-carousel-item__left-column,
.product-info .jdgm-carousel--focused-theme .jdgm-carousel-item__review-wrapper,
.product-media-info .jdgm-carousel--focused-theme .jdgm-carousel-item__left-column,
.product-media-info .jdgm-carousel--focused-theme .jdgm-carousel-item__review-wrapper {
  width: 100%;
}

.product-info .jdgm-carousel--focused-theme .jdgm-carousel-item__reviewer-name,
.product-media-info .jdgm-carousel--focused-theme .jdgm-carousel-item__reviewer-name {
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  margin-bottom: 35px;
  transform: translate(63px, 14px);
}

.product-info .jdgm-carousel,
.product-media-info .jdgm-carousel {
  margin: 0 !important;
}

.product-info .jdgm-carousel--focused-theme .jdgm-carousel-item__review-wrapper,
.product-media-info .jdgm-carousel--focused-theme .jdgm-carousel-item__review-wrapper {
  padding: 0px !important;
}

.product-info .jdgm-carousel__arrows,
.product-media-info .jdgm-carousel__arrows {
  /* display: none; */
  position: absolute;
  top: 35px;
  right: 15px;
  display: none;
}

.product-info .jdgm-carousel-item::hover .product-inf .jdgm-carousel__arrows,
.product-media-info .jdgm-carousel-item::hover .product-inf .jdgm-carousel__arrows {
  display: block !important;
}

.product-info .jdgm-carousel__arrows .jdgm-carousel__right-arrow,
.product-info .jdgm-carousel__arrows .jdgm-carousel__left-arrow,
.product-meida-info .jdgm-carousel__arrows .jdgm-carousel__right-arrow,
.product-media-info .jdgm-carousel__arrows .jdgm-carousel__left-arrow {
  width: 14px;
  height: 14px;
  border-width: 3px !important;
}

.product-info .jdgm-carousel--focused-theme .jdgm-carousel-item__image-wrapper,
.product-media-info .jdgm-carousel--focused-theme .jdgm-carousel-item__image-wrapper {
  position: absolute;
  width: 50px !important;
  aspect-ratio: 1 / 1 !important;
  height: 50px !important;
}

.product-info .jdgm-carousel--focused-theme .jdgm-carousel-item__image-wrapper img,
.product-media-info .jdgm-carousel--focused-theme .jdgm-carousel-item__image-wrapper img {
  /* position: absolute; */
  width: 50px !important;
  aspect-ratio: 1 / 1 !important;
  height: 50px !important;
  border-radius: 100% !important;
  background: #fff !important;
  object-fit: cover;
}

.product-detail-title h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 31.5px;
  margin-top: 20px !important;
}

.product-detail-content :is(p, li, a) {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

quick-add-drawer .product-message__box {
  display: none !important;
}

.msg-box-wrappper {
  display: block;
  width: 100%;
  background: #f6f6f6;
  border-radius: 10px;
  padding: 25px 30px;
  display: flex;
  gap: 20px;
}

.msg-box-img img {
  display: block;
  width: 100%;
  max-width: 60px !important;
}

.msg-box-wrappper .msg-box-content h4 {
  font-size: 21px;
  font-weight: 600;
  line-height: 31.5px;
  margin-bottom: 10px;
}

.msg-box-content :is(p, a) {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #222120;
}

.msg-box-content a {
  text-decoration: underline;
}

.copy-button-wrapper {
  margin-top: 20px;
  padding-left: 20px;
  position: relative;
}

.copy-button-wrapper .copy-link-tooltip {
  color: #fff;
  background: #000;
  padding: 2px 8px;
  font-size: 16px;
  border-radius: 5px;
  display: none;
}

.copy-button-wrapper button:hover .copy-link-tooltip {
  display: inline-block;
}

.copy-button-wrapper .copy-button-wrapper #copy_link img {
  width: 35px;
}

.product-info__price .price__default {
  display: flex;
  align-items: center;
  gap: 15px;
}

.product-info .price__was {
  font-size: 21px;
  font-weight: 300;
  line-height: 31.5px;
  color: #595959;
}

.discount__price {
  background: #1f8a81;
  padding: 1px 8px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  display: block;
  width: max-content;
}

.product__atc-price.product-price {
  border-top: 0.5px solid #d8d8d8;
  margin: 30px 0px 10px;
  padding: 50px 0px 10px;
}

.product__atc-price .discount__price {
  background: #166209;
}

.product-info__add-button .btn,
.dynamic-checkout-btn .shopify-payment-button {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  border-radius: 50px;
}

.dynamic-checkout-btn .shopify-payment-button {
  margin-top: 13px;
}

.product-info__pay .truemed-entry-box {
  justify-content: center;
}

.product-price+.product-info__pay .truemed-entry-box {
  justify-content: start;
}

.product-info__pay .truemed-entry-text,
.product-info__pay .truemed-entry-link {
  font-size: 16px;
}

.delivery-wrapper {
  border-radius: 10px;
  margin: 40px 0px 10px;
  padding: 20px 27px;
  background: #f5f5f5;
}

.delivery-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.delivery-title img {
  display: block;
  width: 100%;
  max-width: 25px;
}

.delivery-title h4 {
  font-size: 21px;
  font-weight: 600;
  line-height: 31.5px;
  margin-bottom: 10px;
  margin-bottom: 0;
  text-transform: capitalize;
}

.delivery-content {
  margin-top: 20px;
}

.delivery-content :is(p, li, a) {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  text-align: left;
}

.delivery-content :is(ul, ol) {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 40px;
}

.delivery-content ul li {
  list-style: none;
  position: relative;
  padding-left: 25px;
}

.delivery-content ul li::before {
  content: "";
  background: url("https://cdn.shopify.com/s/files/1/0720/7695/1854/files/check.png?v=1722251030");
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.gpo-app .gpo-label span.label-tooltip svg.label-tooltip__icon path {
  fill: #ababab !important;
}

.gpo-ov-title {
  display: flex;
  flex-direction: column;
}

label.gpo-label .label-content {
  font-family: var(--custom-body-font) !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 31.5px !important;
}

.gpo-ov-title span:first-child {
  font-family: var(--custom-body-font) !important;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.gpo-ov-title span:last-child {
  font-family: var(--custom-body-font) !important;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  color: #222120;
}

.gpo-ov-wrapper.vertical .gpo-swatches.gpo-ov-item {
  padding: 20px;
  border: 0.5px solid #b4b4b4;
  border-radius: 10px;
  gap: 30px !important;
  position: relative;
}

.gpo-ov-wrapper.vertical .gpo-tooltip.zoom-image {
  /* display: none !important;
  visibility: hidden !important; */
}

.gpo-ov-wrapper.vertical .gpo-ov-item:has(input[type="checkbox"]:checked) {
  background-color: #f5f5f5;
}

.gpo-app .gpo-ov-wrapper.vertical .gpo-swatches input:not(.quantity__input) {
  display: block !important;
  /* visibility: hidden; */
  opacity: 0;
  position: relative;
  z-index: 100;
  width: 30px;
  height: 30px;
  margin: 0;
}

.gpo-ov-wrapper.vertical .checkmark {
  position: absolute;
  top: 40px;
  left: 20px;
  height: 30px;
  width: 30px;
  border: 1px solid #b4b4b4;
  background: #fff;
  border-radius: 5px;
}

.gpo-ov-wrapper.vertical .gpo-ov-item:has(input[type="checkbox"]:checked) .checkmark {
  background-color: #1b413e;
}

.gpo-ov-wrapper.vertical .gpo-ov-item:has(input[type="checkbox"]:checked) .checkmark::after {
  content: "";
  position: absolute;
  /* display: none; */
}

.gpo-ov-wrapper.vertical .gpo-ov-item:has(input[type="checkbox"]:checked)~.checkmark::after {
  display: block;
}

.gpo-ov-wrapper.vertical .gpo-ov-item:has(input[type="checkbox"]:checked) .checkmark:after {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url("https://cdn.shopify.com/s/files/1/0720/7695/1854/files/checkmark-option.svg?v=1722261248");
  width: 15px;
  height: 12px;
}

.gpo-app .gpo-ov-wrapper.vertical .gpo-swatch__inner .gpo-swatch__image {
  border-radius: 100% !important;
}

.gpo-app .gpo-ov-wrapper.vertical .gpo-swatches input+label,
.gpo-app .gpo-ov-wrapper.vertical .gpo-swatches input+label:hover,
.gpo-app .gpo-ov-wrapper.vertical .gpo-swatches input:checked+label {
  border: none !important;
}

.gpo-app .gpo-ov-wrapper.vertical .gpo-swatches input+label .gpo-swatch__inner {
  border: none !important;
}

.gpo-app .gpo-element:not(:last-child) {
  margin-bottom: 30px !important;
}

.gpo-element.gpo-form__group {
  position: relative;
}

span.label-tooltip {
  position: absolute !important;
  top: 60%;
  left: 73%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.quick-atc-banner {
  background: #1b413e;
  padding: 15px;
}

.atc-banner-inner {
  display: grid;
  grid-template-columns: 44% 1fr;
  gap: 100px;
  align-items: center;
}

.atc-banner-inner .atc-title h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
  color: #fff;
  margin-bottom: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
}

.atc-detail-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

/* .atc-banner-price .price {
  position: relative;
}
.atc-banner-price .discount__price {
  position: absolute;
} */
.atc-banner-price {
  margin-right: 20px;
}

.atc-banner-price .price__default .price__current {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #fff;
}

.atc-banner-price .price__default .price__was {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  color: #fff;
}

.price__default {
  display: flex;
  align-items: center;
  gap: 10px;
}

.atc-banner-button button {
  background: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 200px;
  font-weight: 600;
  line-height: 27px;
  width: 150px;
}

.atc-banner-shiiping p {
  width: 100%;
  max-width: 130px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  margin-bottom: 0;
}

.product-details+.shopify-section:before {
  opacity: 0;
}

.product-details__text {
  text-align: left;
}

/* PRODUCT COMPARISION SECTION  */
.product-compr-top h2 {
  font-size: 42px;
  font-weight: 600;
  line-height: 63px;
  text-align: center;
  margin-bottom: 20px;
}

.product-compr-top P {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  text-align: center;
  margin: 0;
}

.product-compr-top button {
  display: block;
  padding: 15px 40px;
  border-radius: 200px;
  font-size: 21px;
  font-weight: 500;
  line-height: 31.5px;
  width: max-content;
  max-width: 350px;
  margin: 0 auto;
  margin-top: 60px;
  border: none;
}

.compare-row {
  margin: 80px 0px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.compare-select-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 80px;
}

.compare-select-wrapper select {
  background-color: #f5f5f5;
  border-radius: 12px;
  padding: 10px 30px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.compare-select-wrapper select option[value=""],
.compare-select-wrapper select option:first-child,
.compare-select-wrapper select .default--opt {
  color: red !important;
}

.product-details-wrapper img {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  aspect-ratio: 400 / 300;
  object-fit: contain;
}

.product-details-inner {
  margin-top: 40px;
  padding: 0px 15px;
}

.product-details-inner h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
  margin-bottom: 10px;
}

.product-details-inner .compr-price {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  margin-bottom: 20px;
}

.product-details-inner .cp-btn {
  background: #f5f5f5;
  padding: 15px 60px;
  display: block;
  width: 100%;
  max-width: max-content;
  margin: 0 auto;
  border-radius: 200px;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #c5c5c5;
}

.product-details-inner .cp-btn.active {
  background: #222120;
  color: #fff8f2;
}

.compare-table {
  width: 100%;
  border-collapse: collapse;
}

.compare-table th,
.compare-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.compare-table th {
  background-color: #f2f2f2;
}

.comparison-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.comparison-popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 800px;
  position: relative;
}

.comparison-popup .close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.comparison-popup-content h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 43px;
  text-align: center;
  margin-bottom: 20px;
}

product-recommendations h2.section__heading {
  font-size: 42px;
  font-weight: 600;
  line-height: 63px;
}

product-recommendations .card__media .media {
  padding: 0 !important;
  width: 100%;
  /* max-width: 216px;
  object-fit: contain; */
  aspect-ratio: 1/1;
  margin: 0 auto;
  background: #fbf2e9;
  border-radius: 5px;
  padding: 20px;
}

product-recommendations .img-fit {
  display: block;
  position: static;
  width: 100%;
  max-width: 216px;
  height: 100%;
  /* max-height: 165px; */
  object-fit: contain;
  padding: 22px;
  margin: 0 auto;
}

product-recommendations .slider__item {
  scroll-snap-align: start;
  border: 0.5px solid #b4b4b4;
  padding: 20px 22px;
  border-radius: 10px;
}

/* product-recommendations .card__info-inner.inline-block.w-full {
  padding-bottom: 40px;
} */
product-recommendations .card__info .card__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

product-recommendations .product_ratings {
  display: none;
}

product-recommendations .card__info .price {
  border-top: none !important;
  margin-top: 5px !important;
  padding-top: 0 !important;
}

product-recommendations .card__info .price .price__default strong {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

product-recommendations .product-inventory__status {
  display: none;
}

product-recommendations .card__info .product_learn_more a {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-decoration: underline;
}

product-recommendations product-form .btn,
product-recommendations .card__quick-add .btn {
  color: #222120;
  border: 1px solid #222120;
  background: transparent;
  border-radius: 200px;
  padding: 15px 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #222120;
  text-transform: capitalize;
}

product-recommendations product-form .btn:hover,
product-recommendations .card__quick-add .btn:hover {
  background: #222120;
  color: #fff;
}

.section.milti-column-sec {
  padding: 140px 0px 20px;
  margin: 0;
}

.section.milti-column-sec.freebies-section {
  padding: 120px 0px 80px;
  margin: 0;
}

.milti-column-sec.g-large .gap-x-theme {
  column-gap: 80px;
}

.milti-column-sec .multi-column .card .card__info {
  padding-top: 20px;
}

.milti-column-sec.g-large .card .card__info {
  max-width: 290px;
}

.milti-column-sec.g-large .multi-column .card img {
  border: none;
  border-radius: none;
}

.template--product .video-carousel {
  background: #f4f4f4;
}

.template--product .video-carousel h2 {
  color: #222120;
}

.card__info-container:has(.card_redirect) .card__quick-add,
.template--index .card__quick-add {
  display: none !important;
}

.icons-with-text.v-spacing {
  padding: 100px 0px 120px;
}

.icons-with-text .section__heading {
  font-size: 42px;
  font-weight: 600;
  line-height: 63px;
  margin-bottom: 80px;
}

.icons-with-text .slider__item.layout-2 {
  max-width: 400px;
}

.icons-with-text .slider__item.layout-2 .icons-with-text__text .icons-with-text__title strong {
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  margin: 15px 0px 10px;
  text-align: left;
}

.icons-with-text .slider__item.layout-2 .icons-with-text__text p {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  padding: 0px;
  text-align: left;
}

.icons-with-text .grid__layout .slider-nav {
  display: none;
}

.faqs-section .disclosure__content.d-flex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.faqs-section .container.faq-fw {
  padding-top: 0;
  padding-bottom: 0;
}

.faqs-section h2.h5 {
  font-family: var(--custom-body-font);
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
}

.faqs-section details-disclosure:first-child .disclosure--row {
  border-top: none;
}

.section-media-with-text.vertical-padding {
  padding: 140px 0px;
}

.media-with-text.design {
  padding: 100px;
  background: #fef8f1;
  max-width: 100%;
  border-radius: 12px;
}

.media-with-text.design .media-with-text__text {
  max-width: 560px;
  padding-inline-end: 100px !important;
}

.media-with-text.design .media-with-text__text h2.h4 {
  font-size: 42px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 20px;
}

.media-with-text.design .media-with-text__text p {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
}

.media-with-text__text .btn {
  display: flex;
  align-items: center;
  gap: 7px;
  max-width: max-content;
  font-size: 21px;
  font-weight: 500;
  line-height: 31.5px;
  text-align: left;
  border-radius: 200px;
}

.media-with-text__text .btn svg {
  width: 17.36px;
  height: 19.96px;
}

.media-with-text .video-section__play-btn {
  background: rgb(0, 0, 0, 0.2);
}

.jdgm-rev-widg__reviews {
  display: grid;
  gap: 40px;
}

.jdgm-rev-widg__reviews .jdgm-rev {
  background: #f6f6f6;
  padding: 40px 60px;
  border-radius: 12px;
}

.jdgm-rev-widg .jdgm-star {
  color: #ffa011 !important;
}

.jdgm-medals-wrapper {
  display: none !important;
}

.jdgm-histogram__bar .jdgm-histogram__bar-content {
  background: linear-gradient(90deg, #1f8a81 99.74%, #e0e0e0 100%) !important;
  /* border-top-left-radius: 200px;
  border-bottom-left-radius: 200px; */
  border-radius: 200px;
}

.jdgm-row-stars .jdgm-histogram__bar {
  border-radius: 200px;
  width: 340px;
}

.jdgm-rev-widg__summary-stars {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.jdgm-rev-widg__summary-average .jdgm-link {
  font-size: 24px;
  display: block;
  font-weight: 800;
  line-height: 36px;
  margin-right: 10px;
  text-decoration: none;
}

.jdgm-rev-widg__header .jdgm-row-stars .jdgm-rev-widg__summary {
  align-items: start !important;
}

.jdgm-histogram__row .jdgm-histogram__star::before {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: 800;
  margin-right: 4px;
}

.jdgm-histogram__row:first-child .jdgm-histogram__star::before {
  content: "5.0";
}

.jdgm-histogram__row:nth-child(2) .jdgm-histogram__star::before {
  content: "4.0";
}

.jdgm-histogram__row:nth-child(3) .jdgm-histogram__star::before {
  content: "3.0";
}

.jdgm-histogram__row:nth-child(4) .jdgm-histogram__star::before {
  content: "2.0";
}

.jdgm-histogram__row:nth-child(5) .jdgm-histogram__star::before {
  content: "1.0";
}

.jdgm-histogram__row .jdgm-star:not(:first-child) {
  display: none !important;
}

.jdgm-histogram__row .jdgm-star {
  color: #000 !important;
}

.sticky-atc-panel {
  display: none;
}