.popup-section .modal__window {
  width: 480px;
  max-width: calc(100vw - var(--gutter) * 2);
  min-height: 0;
  overflow-y: auto;
}
.popup-section .modal__window--no-image-block {
  overflow: hidden;
}
.popup-section .modal__window--no-image-block .modal__content {
  overflow-y: auto;
}
.popup-section .modal__window--side-image {
  width: 600px;
  overflow: hidden;
}
.popup-section .modal__window--side-image .modal__content {
  overflow-y: auto;
}
.popup-section .modal__content--p-small {
  padding: calc(5 * var(--space-unit)) var(--gutter);
}
.popup-section .modal__content--p-medium {
  padding: calc(10 * var(--space-unit)) var(--gutter);
}
.popup-section .modal__content--p-large {
  padding: calc(16 * var(--space-unit)) var(--gutter);
}
.popup-section .modal__close-btn {
  top: 5px;
  right: 5px;
  background-color: transparent;
}
.popup-section .modal__close-btn svg {
  width: 18px;
  height: 18px;
}
.popup-section .modal__image {
  max-width: none;
}
.popup-section .countdown__item {
  padding-right: 0;
  padding-left: 0;
}
.popup-section .section__block:not(:last-child) {
  margin-bottom: calc(6 * var(--space-unit));
}
.popup-section .countdown__block {
  margin-top: 0;
}

.popup-section__background-image {
  z-index: -1;
}

.modal.popup-section--age-verification {
  z-index: 100;
}

.popup-section--shrink .modal__window {
  width: auto;
  min-width: 200px;
}

@media (min-width: 769px) {
  .popup-section .modal__window {
    width: 640px;
  }
  .popup-section .modal__window--side-image {
    width: 800px;
  }
  .popup-section .modal__window--side-image .modal__content--p-small {
    padding: calc(5 * var(--space-unit)) calc(4 * var(--space-unit));
  }
  .popup-section .modal__window--side-image .modal__content--p-medium {
    padding: calc(10 * var(--space-unit)) calc(6 * var(--space-unit));
  }
  .popup-section .modal__window--side-image .modal__content--p-large {
    padding: calc(16 * var(--space-unit)) calc(12 * var(--space-unit));
  }
  .popup-section .modal__content--p-small {
    padding: calc(5 * var(--space-unit));
  }
  .popup-section .modal__content--p-medium {
    padding: calc(10 * var(--space-unit));
  }
  .popup-section .modal__content--p-large {
    padding: calc(16 * var(--space-unit)) 80px;
  }
  .popup-section--shrink .modal__window {
    width: auto;
    min-width: 200px;
    max-width: 640px;
  }
}
@media (max-width: 768.98px) {
  .popup-section .modal__window.flex-col .media__placeholder {
    position: relative;
  }
}

.generalPopUp-overlay {
  display: none;
  /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
/* Popup content */
.generalPopUp-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 900px;
  height: 100%;
  max-height: 450px;
  border-radius: 15px;
  transition: transform 0.3s ease;
}
.generalPopUp-content-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
}
.generalPopUp-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.generalPopUp-close:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
  transition: all 0.2s ease;
}
.generalPopUp-media {
  height: 100%;
  background: #FBF2E9;
}
.generalPopUp-media img {
  display: block;
  height: 100%;
  width: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  object-fit: fill;
}

.generalPopUp-media .desktop-image {
  display: block;
}
.generalPopUp-media .mobile-image {
  display: none;
}

@media (max-width: 768px) {
  .generalPopUp-media .desktop-image {
    display: none;
  }
  .generalPopUp-media .mobile-image {
    display: block;
  }
}
.generalPopUp-info {
  padding: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  padding-top: 0px;
}
.generalPopUp-info h2 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}
.generalPopUp-info p {
  /* font-family: Poppins; */
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
}
.generalPopUp-info a.btn {
  display: block;
  background: #1B413E;
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  border-radius: 6px;
  margin-top: 40px;
}
@media only screen and (max-width: 768px) {
  .generalPopUp-media img {
    border-bottom-right-radius: 0;
  }
  .generalPopUp-content {
    max-width: 92%;
  }
  .generalPopUp-info {
    margin: 0 0 0 10px;
    padding: 20px 0 20px 20px;
  }
  .generalPopUp-info h2 {
    font-size: 28px;
    line-height: 36px;
  }
}
@media only screen and (max-width: 600px) {
  .generalPopUp-info h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .generalPopUp-info p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .generalPopUp-info {
    padding: 30px;
    margin: 0;
    height: 100%;
    border-radius: 10px;
  }
  .generalPopUp-content {
    max-height: 600px;
    border-radius: 10px;
  }

  .generalPopUp-content-row {
    gap: 0;
    display: flex !important;
    flex-direction: column-reverse;
    align-items: center;
  }
  .generalPopUp-info a.btn {
    padding: 7px 10px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
  }
}